# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Temporary Files
*.tmp

# Jupyter
.ipynb_checkpoints/

# Build files
dist/
build/

# ZIP files
*.zip